body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.modalTrigger {
  height: 40px;
  width: 118px;
  border-radius: 6px;
  border: none;
  background-color: #007aff;
  color: white;
  font-size: 15px;
}
